<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include('./partials/head.ejs')%>
    </head>
    <body>
        <div class="header">
            <div class="header-title">
                <img
                    src="https://img.icons8.com/ios/452/retro-tv.png"
                    alt="tv icon"
                />
                <a href="/">Show Stopper</a>
            </div>
        </div>
        <div class="main-container">
            <div class="main-col">
                <br />
                <h2>
                    <% if(currentUser) { %> Welcome, <%=currentUser.username%>!
                </h2>
                <br />
                <div class="dashboard">
                    <a href="/app">
                        <button id="dashboard-btn">Dashboard</button>
                    </a>
                </div>

                <form action="/sessions?_method=DELETE" method="POST">
                    <input type="submit" value="Logout" id="logout-btn" />
                </form>

                <div class="images">
                    <img
                        src="https://www.freepngimg.com/thumb/grocery/55114-3-donut-png-free-photo.png"
                        alt="donut"
                        class="main-img"
                    />
                    <img
                        src="https://www.freepngimg.com/thumb/popcorn/22995-2-popcorn-hd.png"
                        alt="popcorn"
                        class="main-img"
                    />
                    <img
                        src="https://www.freepngimg.com/thumb/grocery/54262-5-ice-cream-sundae-image-hq-image-free-png.png"
                        alt="ice cream"
                        class="main-img"
                    />
                    <img
                        src="https://webstockreview.net/images/drink-clipart-17.png"
                        alt="drink"
                        class="main-img"
                    />
                </div>
                <% } else { %>

                <h1>What is Show Stopper?</h1>
                <div class="articles">
                    <article>
                        Show Stopper is a platform for you to track all the TV
                        series that you're currently watching.
                    </article>
                    <br />
                    <article>
                        If you're someone who watches multiple TV series and
                        can't keep track, this platform is perfect for you.
                        <br /><br />What are you waiting for? Sign up now!
                    </article>
                    <br />
                </div>
            </div>
            <div class="main-col">
                <h3>Welcome Back</h3>
                <a href="/sessions/new">
                    <button id="login">Log In</button>
                </a>
                <br />
                <h3>Join Now!</h3>
                <a href="/users/new">
                    <button id="signup">Sign Up</button>
                </a>

                <% } %>
            </div>
        </div>
    </body>
</html>
