@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

body {
    font-family: 'Exo 2', sans-serif;
    background-color: #eef8ff;
}

/* ===== HEADER * ===== */
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(154, 194, 255);
}

.header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title img {
    width: 70px;
    height: 70px;
}

.header-title a {
    font-weight: 700;
    color: black;
    margin-left: 10px;
    padding-left: 30px;
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
    text-decoration: none;
}

.header-title h1 {
    font-weight: 700;
    color: black;
    margin-left: 10px;
    padding-left: 30px;
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
    text-decoration: none;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav ul {
    list-style-type: none;
}

/* ===== NEW SHOW FORM * ===== */

.new-show {
    font-size: 18px;
    margin: 0 auto;
    margin-top: 2em;
    padding: 20px;
    height: 620px;
    width: 450px;
    border-radius: 2em;
    border: 1px solid black;
    box-shadow: 1px 1px 10px rgb(8, 109, 224), -1px -1px 10px rgb(29, 32, 243),
        1px -1px 10px rgb(109, 136, 252), -1px 1px 10px rgb(58, 13, 223);
}

#home {
    font-size: 12px;
}

input {
    width: 100%;
    margin: 5px 0;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid var(--dusty-blue);
}

#add {
    width: 100px;
    background-color: rgb(72, 203, 230);
    font-size: 18px;
}

#add:hover {
    background-color: rgb(179, 203, 255);
    color: red;
}

#logout-btn {
    background-color: black;
    color: white;
    position: absolute;
    top: 25px;
    right: 10px;
    width: 105px;
}

/*---------INDEX PAGE---------*/
.index-container {
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 90%;
}

#index-ul {
    width: 80%;
    display: inline-flex;
    list-style: none;
    justify-content: center;
}

.index-show {
    width: 450px;
    height: 560px;
    font-size: 20px;
    border-radius: 2em;
    margin: 20px;
    justify-content: space-around;
    line-height: 0.5;
    box-shadow: 1px 1px 10px rgb(8, 109, 224), -1px -1px 10px rgb(29, 32, 243),
        1px -1px 10px rgb(109, 136, 252), -1px 1px 10px rgb(58, 13, 223);
}

#index-title {
    line-height: 4em;
}

#index-img {
    width: 300px;
    height: 350px;
    border-radius: 15%;
    padding-bottom: 1.5em;
}

#index-img:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#delete-btn {
    color: white;
    background-color: tomato;
    width: 110px;
    margin: 0 auto;
    height: 38px;
    font-size: 14px;
}

/* ===== NEW SHOW FORM * ===== */
.title h1 {
    text-align: center;
    padding-bottom: 15px;
}

.show-container {
    text-align: center;
    display: inline-flex;
    height: 800px;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}

.show-item {
    height: 90%;
    width: 380px;
    padding: 25px 15px 0px 15px;
    border-radius: 1em;
    margin: 0 auto;
    font-size: 24px;
    box-shadow: 1px 1px 10px rgb(8, 109, 224), -1px -1px 10px rgb(29, 32, 243),
        1px -1px 10px rgb(109, 136, 252), -1px 1px 10px rgb(58, 13, 223);
}

#show-img {
    width: 350px;
    height: 420px;
    border-radius: 10%;
    padding-bottom: 10px;
}

.show-info {
    text-align: left;
    padding-left: 20px;
}

.show-reviews {
    height: 90%;
    width: 450px;
    padding: 25px 15px 0px 15px;
    border-radius: 1em;
    margin: 0 auto;
    font-size: 24px;
    box-shadow: 1px 1px 10px rgb(8, 109, 224), -1px -1px 10px rgb(29, 32, 243),
        1px -1px 10px rgb(109, 136, 252), -1px 1px 10px rgb(58, 13, 223);
}

.review {
    text-align: left;
    width: 430px;
    height: 90%;
    overflow-y: auto;
    margin: 0 auto;
}

#home-btn {
    position: absolute;
    top: 30px;
    right: 140px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 15px;
    font-size: 14px;
}

#home-btn:hover {
    background-color: rgb(180, 219, 255);
}
