<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
        <h1>INDEX</h1>
        <div class="index-container">
            <div class="add-btn">
                <a href="/app/new"><button id="add">Add New Show</button></a>
            </div>
        </div>
    </body>
</html>
